doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Convert2PDF
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM', crossorigin='anonymous')
    style.
      .navbar {
      background: #181818;
      color: aliceblue;
      padding-left: 20px;
      }
      .navbar-brand {
      color: aliceblue;
      }
      .navbar-brand:hover {
      color: #3d3d3d;
      }
      body {
      background: #121212;
      }
      .card {
      background: #181818;
      max-width: auto;
      margin: 50px;
      padding: 10px;
      box-shadow: 50ch;
      border-radius: 20px;
      }
      .card-header {
      font-size: 1.8rem;
      font-weight: bold;
      color: aliceblue;
      }
      .card-title {
      font-size: 1rem;
      color: aliceblue;
      }
      .form-control {
      max-width: 40rem;
      margin: 30px;
      }
      .btn {
      max-width: 20rem;
      margin: 30px;
      }
      .card-text {
      color: aliceblue;
      }
      p {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      }
      .listB {
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-dark
      span.navbar-brand.mb-0.h1.text-center Convert2PDF
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a#homeLink.nav-link.text-white(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a#termsLink.nav-link.text-white(href='/policy') Policy
          li.nav-item
            a#termsLink.nav-link.text-white(href='/terms') Terms
          li.nav-item
            a#disLink.nav-link.text-white(href='/disclaimer') Disclaimer
    .card.text-white.mb-3
      .card-header.text-center
        h1.h3 Web Page to Pdf
      .card-body
        h5.card-title.text-center.h5
          | Convert HTML files or web pages into PDF files
          | online and in one click.
        form(method='POST', action='/download')
          input.form-control.rounded.mx-auto.d-block.text-center(type='url', placeholder='Enter The URL', name='inputUrl')
          #convertDiv(style='display: block;')
            button#convertBtnT.btn.btn-primary.btn-lg.btn-block.mx-auto.d-block.rounded-pill(type='submit', name='convertBTN') Convert
          #spinnerCT.text-center(style='display: none;')
            .spinner-border.text-primary(role='status')
              span.visually-hidden.spinnerCT Loading...
            .card.text-white.bg-dark.mb-3.mx-auto.d-block.text-center(style='max-width: 30rem; margin: 30px;')
              .card-body
                h6.card-text.text-light(style='font-size: 0.8rem;')
                  | Wait for a while, It will
                  | downloaded automatically...
    .container(style='margin-top: 50px; margin-bottom: 15px;')
      .row.center
        // 1
        .card.border-dark.mx-auto(style='max-width: 18rem;')
          .card-title.text-center.font-weight-bold(style='font-size: 1.2rem;') Enter the URL
          .card-body.text-dark
            // <img src="icons/url.jpg" class="rounded mx-auto d-block" alt="URL">
            p.card-text.text-center.font-weight-bold
              | To convert your web page into a PDF, enter the
              | appropriate website URL in the box including http:// or https://.
        // 2
        .card.border-dark.mx-auto(style='max-width: 18rem;')
          .card-title.text-center.font-weight-bold(style='font-size: 1.2rem;') Press Enter
          .card-body.text-dark
            // <img src="icons/enter.jpg" class="rounded mx-auto d-block" alt="ENTER">
            p.card-text.text-center.font-weight-bold
              | It will take some time to fetch the URL based on
              | your internet speed.
        // 3
        .card.border-dark.mx-auto(style='max-width: 18rem;')
          .card-title.text-center.font-weight-bold(style='font-size: 1.2rem;')
            | Download the result
          .card-body.text-dark
            // <img src="icons/download.jpg" class="rounded mx-auto d-block" alt="DOWNLOAD">
            p.card-text.text-center.font-weight-bold
              | After your file conversion has been completed,
              | view the new document by downloading it.
    footer
      p.text-light.text-center(style='font-family: Arial, Helvetica, sans-serif; font-weight: bold;') Copyright &copy; 2023 Convert2PDF
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz', crossorigin='anonymous')
    script.
      let convertBTN = document.getElementById('convertDiv');
      let spinnerCT = document.getElementById("spinnerCT");
      convertBTN.addEventListener('click', () => {
      console.log('Clicked');
      convertBTN.style.display = 'none';
      spinnerCT.style.display = 'block';
      })